@import "variables.scss"; 

@font-face {
    font-family: "AvenirNext";
    src: url("../assets/Font//AlternativeFiles/AvenirNextLTPro.ttf") format("truetype");
    src: url("../assets/Font/AlternativeFiles/AvenirNextLTProBold.ttf") format("truetype");
    src: url("../assets/Font/AlternativeFiles/AvenirNextLTProDemi.ttf") format("truetype");
}

.mobile-hidden {
    @media only screen and (max-width:767px) {
        display: none;
        padding: 0;
    }
}

.tablet-desktop-hidden {
    @media only screen and (min-width:768px) {
        display: none;
    }
}

.link {
    text-decoration: none;
    @include verComponentsPadding;
    color: $white;
}

hr { 
    width: 1px;
    height: 20px;
    display: inline-block!important;
}