@import "../styles/partials/variables";

//Header Styles
.header__section {
    background-color: $bandsite-black;
    img {
        @include verComponentsPadding;
    }
}

.header__img--container {
    display: flex;
    justify-content: center;
    align-items: center;
}

//Nav Styles
.nav__coontainer {
    width: 100%;
    @media only screen and (min-width: 768px) {
        display: flex;
        justify-content: left;
        align-items: center;

    }
}

.nav__ul--links {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media only screen and (max-width: 767px) {
        @include afterHeadlinesPadding;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        @include verComponentsPadding;
        color: $white;
    }

    @media only screen and (min-width: 768px) {
        display: flex;
        justify-content: left;
        align-items: center;
        @include horiComponentsPadding;
        
        li {
            padding: 0px 36px;
        }
        
    }
}

//Hero Styles
.hero__section {
    background-image: url("/assets/Images/hero-bio.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: left;
    align-items: center
}

.hero__heading {
    @include sectionHeader;
    color: $white;
    @include horiComponentsPadding;
}

.about__heading {
    @include sectionHeader;
    @include beforeHeadlinesPadding;
    @include horiComponentsPadding;
    @include afterHeadlinesPadding;
    color: $bandsite-black;
}

//Band Styles
.band__heading {
    color: $bandsite-dard_black;
    @include subHeader;
    @include horiComponentsPadding;
    padding-bottom: 36px;
    @media only screen and (max-width: 767px) {
        padding-bottom: 16px;
    }
}

.band__img {
    max-width: 100%;
    height: auto;
    @include horiComponentsPadding;

}

.img__desc--div {
    @media only screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.band__desc {
    color: $bandsite-black;
    @include horiComponentsPadding;
    @include verComponentsPadding;
    font-weight: bold;
}

.band__text {
    @include horiComponentsPadding;
    @include bodyCopy;
}

.last-text {
    padding-bottom: 36px;
    @media only screen and (max-width: 767px) {
        padding-bottom: 16px;
    }
}
//Gallery Styles
.gallery__section {
    background-color: $mercury;
}

.gallery__heading {
    @include sectionHeader;
    @include beforeHeadlinesPadding;
    @include horiComponentsPadding;
    @include afterHeadlinesPadding;
}

.image__container img {
    width: 100%;
    @include horiComponentsPadding;

    padding-bottom: 36px;
    @media only screen and (max-width: 767px) {
        padding-bottom: 16px;
    }
}

//Form Styles
.comment__container--flex {
    display: flex;
    justify-content: space-evenly;
}

.comment__container--imgdiv {
    display: flex;
    justify-content: center;
    @include rightPadding;
    @include leftPadding;
    @include topPadding;
}
.comment__heading {
    @include sectionHeader;
    @include beforeHeadlinesPadding;
    @include horiComponentsPadding;
    @include afterHeadlinesPadding;
}
.comment__container--form {
    @include rightPadding;
    @include bottomPadding;
}

.comment__form--avatar {
    @include avatarSize;
    @include avatarRadius;
}

.comment__form--input {
    @include formFieldHeight;
    @include formFieldWidth;
    @include formFieldRadius;
    @include formFieldPadding;
    @include formFieldBorder;
    @include bottomPadding;
    color: $bandsite-dard_black;

    ::placeholder {
        color: $bandsite-dard_black;
        @include bodyCopy;
    }
}

.comment__form--submit {
    @include formFieldRadius;
    @include formFieldWidth;
    @include formFieldPadding;
    background-color: $bandsite-black;
    color: $white;
    @include topMargin;
}

.comment__form--label {
    @include formFieldLabels;
    color: $mercury;
    
}

.comment__form--comment--input {
    @include bottomPadding;
}

//Comments Styles
.post__container {
    display: grid;
    grid-template-columns: 19% 80%;
    justify-content: space-evenly;
    background-color: $white;
    @include horiComponentsPadding;
    @include bottomPadding;
    
}

.post__container--imgdiv img {
    @include avatarRadius;
    @include avatarSize;
    @include avatarPlaceholder;
}

.post__container--textdiv {
    display: block;
}

.post__container--infodiv {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $mercury;

    p {
        @include bottomPadding;
        color: $mercury;
    }
}

.post__container--commentdiv p{
    @include bodyCopy;
    @include bottomPadding;
    border-bottom: 1px solid $mercury;
    
}

//Shows Styles
.hero__section--shows {
    background-image: url("../assets/Images/hero-shows.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__heading--shows {
    @include sectionHeader;
    color: $white;
    @include horiComponentsPadding;

}

.shows__heading {
    @include sectionHeader;
    color: $bandsite-black;
    @include horiComponentsPadding;
    @include verComponentsPadding;
}

.hero__header--text {
    @include subHeader;
    color: $white;
    @include horiComponentsPadding;
    @include verComponentsPadding;
}

.iframe__div {
    display: flex;
    justify-content: center;
    @media only screen and (min-width: 768px) and (max-width: 1279px){
        justify-content: left;
        @include horiComponentsPadding;
    }
}
.shows__container {
    @include verComponentsPadding;
}
.shows__list--container {
    display: block;
    @include horiComponentsPadding;

    @media only screen and (min-width: 768px) and (max-width: 1279px){
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 1px solid $mercury;
    }

    hr {
        background-color: $mercury;

        @media only screen and (min-width: 768px) and (max-width: 1279px){
            display: none;
        }
    }
}

.shows__list--datediv p {
    color: $mercury;
    @include formFieldLabels;
    @include topPadding;
}

.mercury {
    color: $mercury;
    @include formFieldLabels;
}

.second {
    @include bottomPadding;
}

.btn__div {
    display: flex;
    justify-content: center;
}

.buy__btn {
    width: 100%;
    background-color: $bandsite-black;
    color: $white;
    @include formFieldRadius;
    @include formFieldPadding;
    @include bottomMargin;

}

.buy__btn:hover {
    background-color: red;
}
//Footer Styles
.footer__section {
    color: $white;
    background-color: $bandsite-black;
    @include horiComponentsPadding; 

    p {
        @include footerCopy;
    }

    h5, h4 {
        @include subHeader;
    }
}

.footer__sub--container {
    padding-right: 36px;
}

.footer__heading {
    @include sectionHeader;
    @include beforeHeadlinesPadding;
    @include afterHeadlinesPadding;
}

.icons__container {
    display: flex;

    img {
        padding-right: 36px;
        @media only screen and (max-width: 767px) {
            padding-right: 16px;
        }
    }
    
}

.sub__div {
    @include beforeHeadlinesPadding;
    @include afterHeadlinesPadding;
}

.bandsite {
    @include beforeHeadlinesPadding;
    @include subHeader;
}

.copyright {
    @include beforeHeadlinesPadding;
    @include afterHeadlinesPadding;
}

